<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>植物大战僵尸</string>
		<key>icon</key>
		<string>http://i2.hdslb.com/bfs/archive/f4c1445fa657c460365e1a9ca70703165378819c.jpg</string>
		<key>download</key>
		<string>10311万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>捕鱼达人2</string>
		<key>icon</key>
		<string>http://dl.bizhi.sogou.com/images/2012/03/04/87770.jpg</string>
		<key>download</key>
		<string>9982万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保卫萝卜</string>
		<key>icon</key>
		<string>http://f3.topitme.com/3/0b/44/113873191641e440b3o.jpg</string>
		<key>download</key>
		<string>8582万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>找你妹</string>
		<key>icon</key>
		<string>http://dl.bizhi.sogou.com/images/2014/02/18/523326.jpg</string>
		<key>download</key>
		<string>5910万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水果忍者</string>
		<key>icon</key>
		<string>http://pic1.win4000.com/wallpaper/4/51a46b006e233.jpg</string>
		<key>download</key>
		<string>5082万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鳄鱼小顽皮</string>
		<key>icon</key>
		<string>http://dl.bizhi.sogou.com/images/2015/06/26/1214905.jpg</string>
		<key>download</key>
		<string>3918万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神偷奶爸</string>
		<key>icon</key>
		<string>http://dl.bizhi.sogou.com/images/2013/11/05/397860.jpg</string>
		<key>download</key>
		<string>3681万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时空猎人</string>
		<key>icon</key>
		<string>http://pic1.win4000.com/wallpaper/c/547d3511857a0.jpg</string>
		<key>download</key>
		<string>3645万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>愤怒的小鸟</string>
		<key>icon</key>
		<string>http://dl.bizhi.sogou.com/images/2013/05/15/338856.jpg</string>
		<key>download</key>
		<string>3552万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滑雪大冒险</string>
		<key>icon</key>
		<string>http://pic1.5442.com/2013/0607/04/11.jpg</string>
		<key>download</key>
		<string>3487万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爸爸去哪儿</string>
		<key>icon</key>
		<string>http://img4.imgtn.bdimg.com/it/u=2379592878,3732421250&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>3117万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我叫MT </string>
		<key>icon</key>
		<string>http://pic1.win4000.com/wallpaper/1/57bbf02f2a049.jpg</string>
		<key>download</key>
		<string>2386万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>3D终极狂飙</string>
		<key>icon</key>
		<string>http://img2.imgtn.bdimg.com/it/u=3766193039,3601610575&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>2166万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杀手2</string>
		<key>icon</key>
		<string>http://img1.imgtn.bdimg.com/it/u=3231766170,2245164845&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>1951万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>俄罗斯方块</string>
		<key>icon</key>
		<string>http://benyouhuifile.it168.com/forum/month_0608/yssj24_4_1920x108020060410_k4jobfSMk5LA.jpg</string>
		<key>download</key>
		<string>1290万</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刀塔传奇</string>
		<key>icon</key>
		<string>http://img0.imgtn.bdimg.com/it/u=2150826213,3081226243&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>1249万</string>
	</dict>
</array>
</plist>
